.env
node_modules
venv
__pycache__
.pytest_cache
.DS_Store
.idea
.vscode
*.log
*.pyc
*.pyo
*.pyd
*.db
*.safetensors
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.onnx
*.onnx.gz
*.onnx.bz2
*.onnx.xz
*.onnx.tar
*.onnx.tar.gz
*.onnx.tar.bz2
*.coreml
*.mlmodel
*.mlmodelc
*.mlpackage
*.mlpackagec
*.mlpackagez
*.mlpackagexz
*.ckpt
*.safetensors
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2